html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(45deg, #000, #111, #000);
    background-size: 400% 400%;
    animation: backgroundAnimation 10s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 28vmin; /* Use viewport minimum units */
    text-align: center;
    color: #0f0;
    text-shadow: 0 0 20px currentColor, 0 0 30px currentColor, 0 0 40px currentColor;
    animation: colorChange 2s infinite alternate, glow 1s ease-in-out infinite alternate;
    max-width: 100%;
    overflow-wrap: break-word;
}

.stopwatch {
    font-family: 'Orbitron', sans-serif;
    font-size: 14vmin;
    text-align: center;
    color: #555;
    text-shadow: 0 0 10px currentColor;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-top: 20px;
}

@keyframes colorChange {
    0%, 100% {
        color: #0f0; /* Green */
    }
    50% {
        color: #f00; /* Red */
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px currentColor, 0 0 20px currentColor, 0 0 30px currentColor;
    }
    to {
        text-shadow: 0 0 20px currentColor, 0 0 30px currentColor, 0 0 40px currentColor;
    }
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    font-family: 'Orbitron', sans-serif;
    font-size: 2vmin;
    margin: 0 10px;
    padding: 10px 20px;
    color: #0f0;
    background: #111;
    border: 2px solid #0f0;
    cursor: pointer;
    text-shadow: 0 0 10px currentColor;
}

.buttons button:hover {
    background: #0f0;
    color: #111;
}
